@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');

/* Estilo general para el fondo */
#bkBorderPane {
    -fx-background-image: url("../images/FondoLogin.png");
    -fx-background-size: cover;
    -fx-background-position: center;
	-fx-alignment: center; /* Asegura que el contenido dentro se centre */
}

/* Logo*/
#paneIcon {
    -fx-background-image: url("../images/Logo-logging-dark.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-alignment: center; /* Centra el logo */
}

/*Estilo del fondo del formulario */
#bkFormulario {
	-fx-background-image: url("../images/Rectangulo-log-dark.png");
	-fx-background-size: contain;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-alignment: center; /* Centra el formulario */
    -fx-padding: 20px; /* Espaciado interno opcional */
}

/* Estilo de los campos de texto */
#txtUsername, #txtPassword {
	-fx-background-color: rgba(96, 96, 96, 0.9);
    -fx-border-color: transparent;
    -fx-border-radius: 5;
    -fx-font-family: "Mona Sans", serif;
    -fx-font-optical-sizing: auto;
    -fx-background-radius: 5;
    -fx-text-fill: white;
}

/* Estilo del botón de iniciar sesión */
.button {
    -fx-background-color: #fe6927;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10;
    -fx-background-radius: 30;
    -fx-font-family: "Mona Sans";
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #ff884d;
}

/* Estilo de los textos interactivos */
.label {
    -fx-font-size: 12px;
    -fx-text-fill: #fe6927;
    -fx-font-family: "Mona Sans", serif;
    -fx-cursor: hand;
}

.label:hover {
    -fx-text-fill: #ff884d;
}

/* Estilo para mensajes de error */
.error-label {
    -fx-text-fill: #bf0000;
    -fx-font-weight: bold;
}