@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');

/* General styles */
.root {
    -fx-font-family: "Mona Sans";
	-fx-background-color: #121922; /* Fondo oscuro */
}

/* Etiquetas */
Label {
    -fx-font-size: 16px;
    -fx-text-fill: #FFFFFF; /* Color de texto */
}